@import "../../../css/variables.scss";

.register-section {
  .register-card {
    background: $color1;
    box-shadow: 0px 0px 15px 0px #0000000a;
    border: 1px solid $color8;
    border-radius: 15px;
    padding: 30px;

    padding-top: 40px !important;
    width: 85%;

    .register-title {
      font-weight: 600;
      font-size: 44px;
      color: $color15;
    }

    .form-control,
    .form-select {
      height: 50px !important;
      background: $color1;
      border-radius: 10px;
    }

    .register-btn {
      margin-top: 32px;
      margin-bottom: 22px;
      background-color: $color2;
      color: azure;
      padding: 12px;
      border-radius: 10px;
      font-weight: 600;
      font-size: 20px;
    }

    .eye-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      background: none;
      border: none;
    }

    .form-check-input {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      &:checked {
        border: none;
        background-color: $color2;
      }
      &:focus {
        box-shadow: none;
      }
    }

    .account-text {
      font-size: 16px;
      .main-link {
        color: $color13;
      }

      .login-btn {
        color: $color2;
      }

      .login-btn:hover {
        color: $color2;
      }
    }
  }

  .form-floating {
    position: relative;
    .form-control {
      background: $color1;
      border: 1px solid $color7;
      border-radius: 14px;
      padding: 10px 23px 8px;
      &::placeholder {
        color: $color6;
        font-weight: 400;
        font-size: 16px;
      }
      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
    label {
      position: absolute;
      top: 0;
      left: 12px;
      font-weight: 500;
      font-size: 16px;
      color: $color15;
      transition: all 0.3s;
    }
    .eye-btn {
      position: absolute;
      top: 28%;
      right: 25px;
    }
  }
  .form-floating input:focus ~ label,
  .form-floating input:not(:placeholder-shown) ~ label {
    top: -8px;
    left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: $color15;
  }
  .form-control::placeholder {
    visibility: hidden;
  }

  .form-control:focus::placeholder,
  .form-control:not(:placeholder-shown) {
    visibility: visible;
  }
}
